#topbar {width:1100px; margin:0 auto; background-color:white; height: 40px}
            
body {margin:0; padding:0; font-family:helvetica, arial, sans-serif}

#logo {margin-top:8px; height:24px; float:left; margin-right:8px}

.topbar-section {float:left; border-left:1px #CCCCCC solid; height:100%}

#signin-imagen {margin:10px 6px; width:20px}

#signin-texto {font-weight:bold; font-size:85%; position:relative; top:-15px; padding-right:70px}

.topbar-menu {font-weight:bold; font-size:75%; padding:13px 12px 0px 12px; height:27px;}

#more-arrow {float:right; margin-left:80px; margin-top:5px; height:8px}

#search-box {background-color:#E4E4E4; border:none; font-weight:bold; font-size:14px; width:100px; float:left; margin:5px 0px 5px 5px; padding:5px}

#lupa {height:27px; margin-top:5px; background-color:#E4E4E4; }

.clear {clear:both}

#menu-bar-container {background-color:#BB1919; width:100%; height:70px; border-top:1px solid #CCCCCC}

#menu-bar{width:1100px; margin:0 auto}

#menu-bar-container-2 {background-color:#A91717; width:100%; height:40px}

#menu-bar-2{width:1100px; margin:0 auto}

#menu-bar-2 a{color:white; text-decoration:none; font-size:14px; border-right:1px solid #B84545; position:relative; top:10px; padding:0 10px}

#menu-bar-2 a:hover{text-decoration:underline}

h1 {padding:0; margin:0; color:white; font-size:40px; font-weight:300; padding-top:10px}

.no-border {border:none !important}

#flechaabajo {position:relative; top:10px; height:8px}

#page-container {width: 1100px; margin:0 auto}

h2{font-weight:normal; font-size:20px; border-bottom: 3px solid #BB1919; width:105px}

h3 a{color:black; font-size:35px; text-decoration:none}

h3 a:hover{color:#1167A8}

#article-summary{color:#5a5a5a; width:250px; float:left}

#article-summary img{height:15px; position:relative; top:1px; padding-right:4px}

.topic-link{text-decoration:none; color:#a61b1b; border-left:1px solid #CCCCCC; padding-left:8px}

.topic-link:hover{color:#1167A8}

.reloj-tamano{height:10px}

.date{padding-right:8px; font-size:90%}

#article-container{float:left; width:680px; border-right:1px solid #CCCCCC; padding-right:20px}

#main-article-image{width:400px; margin-left:20px}

#article-hr{border-top:1px solid #991717; width:50px}

.article-link{color:black; text-decoration:none; font-size:90%}

#watch-listen{margin-left:20px; width:360px; float:right; position:relative; top:-340px; left:-30px}

h4{font-size:26px; font-weight:normal}

.article-side-image{float:left; width:120px; margin-right:15px}

.watch-listen-link{text-decoration:none; color:black; font-weight:bold; font-size:18px}

.watch-listen-link:hover{color:#1167AD}