body{
    background-color: aqua;
    text-align: center;
}
li{
    list-style: none;
    float: left;
    display:inline;
    position: static;
}
.menu{
    width: 500px;
    background-color: red;
}